 .login-wrapper {
     color: orange;
 }
 
 .login {
     color: orange;
 }
 
 .welcome {
     color: orange;
     margin-top: 60px;
 }
 
 .hint1 {
     color: orange;
 }
 
 .cname {
  color: orange;
 }
 
 .btn {
  color: orange;
 }